# Python
python/.env/
python/__pycache__/
python/**/*.pyc
python/**/*.pyo
python/*.egg-info/

# go executables 
go/cmd/uploader/upload

# macOS
.DS_Store

# AWS credentials and config
.aws/

# Go build artifacts
go/bin/
go/pkg/

# Docker compose services
pgdata/
pgadmin-data/

# environment vars
.env