# Python
**/.venv/
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.egg-info/
**/*.pyre/

# nvim sessions
*.vim

# Debug notes
.notes/

# Vscode
.vscode/

# macOS
**/.DS_Store

# Go build artifacts
go/bin/
go/pkg/

# Environment vars
.env

# Mounts 
**/minio-data/*
**/searxng-data/*
**/pg-data/*
**/pgadmin-data/*

# mino dev testing 
/minio/minio_data

# python dev testing
/python/

# pg dev testing
/pgdata/
/pgadmin-data/
