# Python

**/.venv/
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.egg-info/
**/*.pyre/

# python dir for testing
/python/

# nvim
*.vim

# debug notes
.notes/

# Vscode
.vscode/

# Lambda 
python/lambda/deployment_package.zip

# macOS
**/.DS_Store

# AWS credentials and config
.aws/


# Go build artifacts
go/bin/
go/pkg/

pgdata/
pgadmin-data/

# Docker compose services
**/pg-data/
**/pgadmin-data/

# environment vars
.env

# searxng 
**/searxng-data/

# mino
minio

**/minio-data/






# MinIO
minio/minio_data
