version: '3.8'

services: 

  # postgres
  postgres: 
    image: postgres:16
    environment:
      - POSTGRES_USER=username
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=claimex-db
    ports: 
      - "5432:5432"
    volumes: 
      - ./services/pg/pgdata:/var/lib/postgresql/data
  
  # pgadmin
  pgadmin: 
    image: dpage/pgadmin4
    environment: 
      - PGADMIN_DEFAULT_EMAIL=user@user.com
      - PGADMIN_DEFAULT_PASSWORD=adminpassword
    ports: 
      - "1234:80"
    volumes: 
      - ./services/pgadmin/pgadmin-data:/var/lib/pgadmin
  
  # minio 
  minio: 
    image: minio/minio
    container_name: minio
    ports: 
      - "9000:9000"
      - "9001:9001"
    environment: 
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: password
    volumes: 
      - ./services/minio/minio-data:/data
    command: server /data --console-address ":9001"

  # searxng
  searxng: 
    image: docker.io/searxng/searxng:latest
    ports: 
      - "8888:8080"
    volumes:
      - ./services/searxng/config/:/etc/searxng/
      - ./services/searxng/searxng-data/:/var/cache/searxng/
